<script context="module">
	// export const prerender = true

	export async function load({ fetch, params }) {
		const { slug } = params;
		const res = await fetch(`/posts/${slug}.json`);
		if (res.ok) {
			const { post } = await res.json();
			return {
				props: { post }
			};
		}
	}
</script>

<script>
	import Head from '$lib/components/head.svelte';

	export let post;

	let { html, date, title } = post;
</script>

<Head title={`Post | ${title}`} />

<article class="flex flex-col flex-grow">
	<h1 class="font-bold mb-5 text-5xl">{title}</h1>
	<div class="">
		<p class="font-bold mb-10 text-l">{new Date(date).toDateString()}</p>
		<article class="all-prose">
			{@html html}
		</article>
	</div>
</article>
