@tailwind base;

html {
	scroll-behavior: smooth;
}

@tailwind components;

/* Markdown Styling */
.all-prose {
	/* @apply prose prose-lg lg:prose-xl; */
	@apply prose prose-lg lg:prose-xl dark:prose-invert prose-a:no-underline prose-h1:underline prose-h1:underline-offset-8 prose-h2:underline prose-h2:underline-offset-4 prose-h3:underline prose-h3:underline-offset-2;
}

/* TOC Styling */
.toc {
	@apply m-0 p-0;
}

.toc-link {
	@apply no-underline;
}

.toc-link:hover {
	@apply text-xl font-bold inline-block;
}

.toc-level {
	@apply list-none;
}

@tailwind utilities;
