<script>
	import BadgeCheck from '$icons/badge-check.svelte';
	import GitHub from '$icons/github.svelte';
	import GitLab from '$icons/gitlab.svelte';
	import Twitter from '$icons/twitter.svelte';
	import YouTube from '$icons/youtube.svelte';
	import { socialLinks, authorName } from '$lib/site-config';
</script>

<footer class="bg-neutral text-neutral-content p-10 footer">
	<div>
		<p class="">
			Powered by
			<a
				class="fill-current text-primary transition hover:text-primary-focus"
				href="https://kit.svelte.dev"
				target="__blank">Svelte-Kit</a
			>
			and

			<a
				class="fill-current text-primary transition hover:text-primary-focus"
				href="https://vercel.app"
				target="__blank">Vercel</a
			>
			• Source code is available on
			<a
				class="fill-current text-primary transition hover:text-primary-focus"
				href="{socialLinks.find((x) => x.title === 'GitLab').path}/mkadit.my.id"
				target="__blank">Gitlab</a
			>
		</p>
		<p>
			Copyright &copy; 2022 {authorName}
		</p>
	</div>
	<div>
		<span class="footer-title">
			<BadgeCheck tailwindClasses="inline-block" />
			Social
		</span>
		<div class="grid grid-flow-col gap-4">
			<a href={socialLinks.find((x) => x.title === 'Twitter').path} target="__blank">
				<Twitter />
			</a>
			<a href={socialLinks.find((x) => x.title === 'YouTube').path} target="__blank">
				<YouTube />
			</a>
			<a href={socialLinks.find((x) => x.title === 'GitHub').path} target="__blank">
				<GitHub />
			</a>
			<a href={socialLinks.find((x) => x.title === 'GitLab').path} target="__blank">
				<GitLab />
			</a>
		</div>
	</div>
</footer>
