<script>
	import { pages, siteName } from '$lib/site-config';
	import ThemeSelect from './theme-select.svelte';
</script>

<nav>
	<div class="bg-neutral shadow-lg text-neutral-content mb-16 top-0 z-10 navbar sticky">
		<div class="mx-2 px-2 navbar-start">
			<div class="dropdown dropdown-right">
				<label tabindex="0" class="btn btn-ghost btn-circle">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-5 w-5"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						><path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h16M4 18h7"
						/>
					</svg>
				</label>
				<ul
					tabindex="0"
					class="bg-neutral rounded-box shadow text-neutral-content p-2 w-52 menu dropdown-content "
				>
					{#each pages as { title, path }}
						<li>
							<a sveltekit:prefetch href={path}>{title}</a>
						</li>
					{/each}
				</ul>
			</div>
		</div>
		<div class="mx-2 px-2 navbar-center lg:flex">
			<a sveltekit:prefetch href="/" class="font-bold text-lg">{siteName}</a>
		</div>
		<div class="navbar-end">
			<ThemeSelect />
			<label tabindex="0" class="btn btn-ghost btn-circle avatar px-2">
				<div class="w-10 rounded-full">
					<img src="/favicon.png" />
				</div>
			</label>
		</div>
	</div>
</nav>
