<div>
	<select
		data-choose-theme
		class="btn btn-ghost btn-block bg-primary text-primary-content select select-bordered select-primary select-xs"
	>
		<option disabled="disabled" selected="selected">Choose a theme</option>
		<option value="aqua">Aqua</option>
		<option value="black">Black</option>
		<option value="bumblebee">Bumblebee</option>
		<option value="corporate">Corporate</option>
		<option value="cupcake">Cupcake</option>
		<option value="cyberpunk">Cyberpunk</option>
		<option value="dark">Dark</option>
		<option value="dracula">Dracula</option>
		<option value="emerald">Emerald</option>
		<option value="fantasy">Fantasy</option>
		<option value="forest">Forest</option>
		<option value="garden">Garden</option>
		<option value="halloween">Halloween</option>
		<option value="light">Light</option>
		<option value="lofi">Lofi</option>
		<option value="luxury">Luxury</option>
		<option value="nord">Nord</option>
		<option value="pastel">Pastel</option>
		<option value="retro">Retro</option>
		<option value="synthwave">Synthwave</option>
		<option value="valentine">Valentine</option>
		<option value="wireframe">Wireframe</option>
	</select>
</div>
